streamlit
# Utilities
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin
# The face_recognition library is not available on PyPI, so we install it directly from GitHub
git+https://github.com/ageitgey/face_recognition_models
# For packaging
setuptools<70.0.0

# DATABASE
supabase

# SECURITY
bcrypt

# QR CODE
segno

# IMAGE PROCESSING
pillow

# AUDIO PROCESSING
librosa

# VOICE RECOGNITION
resemblyzer